*.o
*.d
*.a
*.dia
*.dat
*.nib
*.swp
*.dep
*.hmap
*.xccheckout
xcuserdata
Debug-iphoneos
Debug-iphonesimulator
Debug-universal
Release-iphoneos
Release-iphonesimulator
Release-universal
.DS_Store
*.xcuserstate
*.build/

*.xcuserstate
